<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>A+ Coffee</title>
  <script src = "/socket.io/socket.io.js"></script>
  <script src = "jquery-3.2.1.min.js"></script>

  <link rel="stylesheet" href="css/bootstrap-grid.css">
  <link rel="stylesheet" href="css/bootstrap-grid.css.map">
  <link rel="stylesheet" href="css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="css/bootstrap-grid.min.css.map">
  <link rel="stylesheet" href="css/bootstrap-reboot.css">
  <link rel="stylesheet" href="css/bootstrap-reboot.css.map">
  <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="css/bootstrap-reboot.min.css.map">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap.css.map">
  <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="css/bootstrap.min.css.map">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/main.css" media="screen" type="text/css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style-portfolio.css">
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon-1.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/bootstrap1.min.css">
  <script src="js/jquery1.min.js"></script>
  <script src="js/bootstrap1.min.js"></script>
  <script src="js/bootstrap.js"> </script>
  <link href="css/toastr.min.css" rel="stylesheet"/>
  <script src="js/toastr.min.js"></script>
  <link rel="stylesheet" href="css/banhang.css">
  <link rel="stylesheet" href="css/menu.css">
  <script src="js/jquery.validate.min.js"></script>

<body>
  <div class="navbar ">
    <div class="container hidden-xl-down hidden-xs-up">
      <div class="col-md-4 hidden-xl-down hidden-xs-up">
        <a class="navbar-brand" href="index.html" style="font-family:Playball" >A+ Coffee</a>
      </div>
      <div id="menu">
        <a id="welcome" href="index.html" style="font-family: Times New Roman, Times, serif; "onmouseover="style.color='black'"
onmouseout="style.color='white'">WELCOME</a>
        <a id="new" href="#new-product" style="font-family: Times New Roman, Times, serif;" onmouseover="style.color='black'"
onmouseout="style.color='white'">NEW PRODUCT</a>
        <a href="#" class="navactive" style="font-family: Times New Roman, Times, serif;" onmouseover="style.color='black'"
onmouseout="style.color='white'">ORDER</a>
        <a href="#" style="font-family: Times New Roman, Times, serif;" onmouseover="style.color='black'"
onmouseout="style.color='white'">SCHEDULE</a>
        <a href="#" style="font-family: Times New Roman, Times, serif;" onmouseover="style.color='black'"
onmouseout="style.color='white'">PROFILE</a>
        <a href="#" style="font-family: Times New Roman, Times, serif;" onmouseover="style.color='black'"
onmouseout="style.color='white'">LOG OUT</a>
        <button data-toggle="modal" data-target="#Order_detail">
          <span>
            <i class="fa fa-coffee" aria-hidden="true" style="color: white;font-size: 25px;"></i>
          </span>
        </a>

      </div>
    </div>
  </div>
