<%- include head.ejs %>
  <body>
    <div class="menu">
      <div class="container-fluid" style="padding-left: 0;padding-right: 0;">
        <div class="row">
          <div class="col-md-3">
            <div class="tab">
              <button class="tablinks" onclick="openCity(event, 'Orders')" id="defaultOpen">New Orders</button>
              <button class="tablinks" onclick="openCity(event, 'Unpaid_Bills_List')">Waiting Order List</button>
              <button class="tablinks" onclick="openCity(event, 'All')">All Orders</button>
            </div>
          </div>
          <div class="col-md-9">
            <div id="Orders" class="tabcontent">
              <!-- ============ Oders Section  ============= -->
              <div id="orders">


                <!-- hien thi danh sach order chua xac nhan-->
                <div class="container-fluid orders" id ="chuaxacnhan">
                </div>

              </div>

            </div>

            <div id="Unpaid_Bills_List" class="tabcontent">
              <!-- ============ Waiting_Order_List Section  ============= -->
              <div>


                <!-- hien thi danh sach order cho thanh toan -->
                <div class="container-fluid bills" id="chuathanhtoan">
                </div>

              </div>

            </div>

            <div id="All" class="tabcontent">
              <!-- ============ Other Section  ============= -->

                <!-- hien thi danh sach tat ca cac order -->
                <div class="container-fluid all_bills" id="all">

                </div>
            </div>

          </div>
        </div>
        <div class="clear">
        </div>
      </div>
    </div>

    <div id="order_list_waitting"></div>
    <div id="unpaid_bills"></div>
    <div id="all_bills_modal">

    </div>
    <script src="javascript/ThuNgan.js" ></script>
  </body>

  <script>
  function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
  </script>
</html>
