<%- include head.ejs %>
<div id="chart"></div>

<div class="row">
  <div class="col-md-3 col-xs-3 col=lg-3">
    <select id="step" class="form-control" style="height:35px">
      <option value="WEEK">Tuần</option>
      <option value="MONTH">Tháng</option>
      <option value="YEAR">Năm</option>
    </select>
  </div>
  <div class="col-md-3 col-xs-3 col=lg-3">
    <select id="chartType" class="form-control" style="height:35px">
      <option value="pie">pie</option>
      <option value="line">line</option>
      <option value="bar">bar</option>
    </select>
  </div>
  <div class="col-md-3 col-xs-3 col=lg-3">
    <input id="startDate" type="date" class="form-control" >
  </div>
  <div class="col-md-3 col-xs-3 col=lg-3">
    <input id="stopDate" type="date" class="form-control">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <button type="button" onclick="LoadChart()" name="button" class="btn btn-info"> Load Chart</button>
  </div>
</div>

<!-- Load c3.css -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.css" rel="stylesheet">

<!-- Load d3.js and c3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.min.js" charset="utf-8"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js" charset="utf-8"></script>

<script>

moment().format();
console.log(moment().format("YYYY-MM-DD"));
$("#stopDate").val(moment().format("YYYY-MM-DD"));
$("#startDate").val(moment().subtract(1, 'months').format("YYYY-MM-DD"));
function LoadChart(){
  var chartType=$('#chartType :selected').text();
  var step=$('#step :selected').val();
  console.log(chartType);
  var  startDate= $('#startDate').val();
  var  stopDate=  $('#stopDate').val();
  var data={
    "startDate":startDate,
    "stopDate":stopDate,
    "step":step
  };
  if(startDate!=""&& stopDate!=""){
    $.ajax({
    type: 'POST',
    data: JSON.stringify(data),
    contentType: 'application/json',
    url: '/QuanLy/LoadChart',
    success: function(results) {
          console.log(results);
          var columns=[];
          columns.push(['x']);
          for(var i=0;i<results.length;++i){
            // console.log(columns);
            flag=true;
            for(var j=0;j<columns.length;++j){
              // console.log(columns[j][0]);
              // console.log(results[i].ProductName);
              if(columns[j][0]==results[i].ProductName){
                flag=false;
                columns[j].push(results[i].number);
                if(columns[j][0]==results[0].ProductName){
                  columns[0].push(moment(results[i].OrderDate).format("YYYY-MM-DD"));
                }
                break;
              }


            }
            if(flag){
              columns.push([results[i].ProductName]);
              columns[columns.length-1].push(results[i].number);
            }

            // var temp=[results[i].ProductName,results[i].number];
            // columns.push(temp);
          }
          console.log(columns);
          var chart = c3.generate({
              bindto: '#chart',
              data: {
                x:'x',
                columns:columns,
                type: chartType
              },
              axis : {
                x : {
                    type : 'timeseries',
                    tick: {
                        format: function (x) { return x.getMonth()+1; }
                      //format: '%Y' // format string is also available for timeseries data
                    }
                }
            }
          });
      }
    });
  }

}


  var results = JSON.parse('<%-JSON.stringify(results)%>');
  console.log(results);
  var columns=[];
  for(var i=0;i<results.length;++i){
    var temp=[results[i].ProductName,results[i].number];
    columns.push(temp);
  }
  console.log(columns);
  var chart = c3.generate({
      bindto: '#chart',
      data: {
        columns:columns,
        type: 'pie'
      }
  });
</script>
