<%- include head.ejs %>
<div id="chart"></div>
<select id="chartType">
  <option value="pie">pie</option>
  <option value="line">line</option>
  <option value="bar">bar</option>

</select>
<br>
<input id="startDate" type="date" name="" value="2013-01-08">
<input id="stopDate" type="date" name="" value="2013-01-08">
<button type="button" onclick="LoadChart()" name="button" class="btn btn-info"> Load</button>
<!-- Load c3.css -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.css" rel="stylesheet">

<!-- Load d3.js and c3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.min.js" charset="utf-8"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.js"></script>

<script>



  function LoadChart(){
    var chartType=$('#chartType :selected').text();
    console.log(chartType);
    var  startDate= $('#startDate').val();
    var  stopDate=  $('#stopDate').val();
    var data={
      "startDate":startDate,
      "stopDate":stopDate
    };
    if(startDate!=""&& stopDate!=""){
      $.ajax({
      type: 'POST',
      data: JSON.stringify(data),
      contentType: 'application/json',
      url: '/QuanLy/LoadChart',
      success: function(results) {

            var columns=[];
            for(var i=0;i<results.length;++i){
              var temp=[results[i].ProductName,results[i].number];
              console.log(results[i].ProductID);
              columns[results[i].ProductID].push(temp);
            }
            console.log(results);
            console.log(columns);
            var chart = c3.generate({
                bindto: '#chart',
                data: {
                  columns:columns,
                  type: chartType
                }
            });
        }
      });
    }

  }
  // document.getElementById('startDate').value = new Date().toDateInputValue();
    console.log(moment().format("YYYY-MM-DD"));
    $('#stopDate').val(moment().format("YYYY-MM-DD"));
    $('#startDate').val(moment().subtract(1, 'years').format("YYYY-MM-DD"));
    var results = JSON.parse('<%-JSON.stringify(results)%>');
    console.log(results);
    var columns=[];
    for(var i=0;i<results.length;++i){
      var temp=[results[i].ProductName,results[i].number];
      console.log(results[i].ProductID);
      columns[results[i].ProductID].push(temp);
    }
    console.log(columns);
    var chart = c3.generate({
        bindto: '#chart',
        data: {
          columns:columns,
          type: 'pie'
        }
    });

</script>
